[submodule "src/starcraft2/s2client-proto"]
	path = src/starcraft2/s2client-proto
	url = https://github.com/Blizzard/s2client-proto
[submodule "src/problems/rts_buildorders/BAR_game/Beyond-All-Reason"]
	path = src/problems/rts_buildorders/BAR_game/Beyond-All-Reason
	url = https://github.com/beyond-all-reason/Beyond-All-Reason.git
